NODE_ENV=development

PORT=5000

# Use mongodb://mongodb:27017/monetely inside Docker, or mongodb://localhost:27017/monetely outside Docker
MONGO_URI=mongodb://mongodb:27017/monetely

# JWT
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3bmV0ZWx5IiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.xhJr5KyPHUhPAEEhIh6n2Ki2A9S2T4yxppug
JWT_REFRESH_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxM1vbmV0ZWx5LXJlZnJlc2giLCJhZG1pbiI6dHJ1ZSwiaWF0IjoxNTE2MjM5MDIyfQ.Nb-ilkmZUwHvwSi7yYzk5numOZ1h_lUYVw
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# URLs
FRONTEND_URL=http://localhost:5173

# Use redis://redis:6379 inside Docker, or redis://localhost:6379 outside Docker
REDIS_URI=redis://localhost:6379
